In [3]:
import csv
import pandas as pd

In [9]:
lstx=[]
for i in range(0,13):
    elem=float(input("Enter elements in order : "))
    lstx.append(elem)
print(lstx)

Enter elements in order : 1
Enter elements in order : 11
Enter elements in order : 11
Enter elements in order : 111
Enter elements in order : 11
Enter elements in order : 1
Enter elements in order : 1
Enter elements in order : 111
Enter elements in order : 11
Enter elements in order : 111
Enter elements in order : 118
Enter elements in order : 1234
Enter elements in order : 13245
[1.0, 11.0, 11.0, 111.0, 11.0, 1.0, 1.0, 111.0, 11.0, 111.0, 118.0, 1234.0, 13245.0]

In [10]:
df = pd.DataFrame(lstx)
df

          0
0       1.0
1      11.0
2      11.0
3     111.0
4      11.0
5       1.0
6       1.0
7     111.0
8      11.0
9     111.0
10    118.0
11   1234.0
12  13245.0

In [11]:
df.to_csv('input.csv',index=False)

In [12]:
df=pd.read_csv('input.csv')

In [8]:
df

      0
0   1.0
1   1.0
2   1.0
3   1.0
4   1.0
5   1.0
6   1.0
7   1.0
8   1.0
9   1.0
10  1.0
11  1.0
12  1.0

#